@model Scholarship_Application.Models.ApplicationUser

@{
    ViewData["Title"] = "UpdateSuccess";
}



<h1 class="alert alert-success">Your Profile Updated Successfully</h1>






@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
